In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('lab1.csv', delimiter=';')
data

    I_rel      l
0     6.0   39.0
1    10.0   43.5
2     2.0   45.0
3     9.0   50.3
4     1.0   65.6
5     8.0   73.8
6     1.0   79.0
7     0.5   83.2
8     8.0   89.5
9     3.0   95.0
10    0.5  113.7
11    1.0  116.7
12    0.5  118.5
13    6.0  136.0
14    5.0  136.7
15    6.0  144.0
16    5.0  145.0

In [42]:
np.sin(data['l'] / 2 * np.pi / 180) ** 2 / 0.0457

0      2.438228
1      3.004657
2      3.204521
3      3.952212
4      6.421177
5      7.888500
6      8.853293
7      9.645471
8     10.845443
9     11.894483
10    15.338597
11    15.856882
12    16.161474
13    18.811158
14    18.903422
15    19.792308
16    19.903195
Name: l, dtype: float64

In [10]:
2.3093 * np.sqrt(4)

4.6186

In [6]:
0.8098 * 24

19.4352

In [30]:
0.3705 / 1.1075

0.3345372460496614

In [31]:
0.1373 / 3

0.04576666666666667

In [43]:
0.8307 * np.sqrt(19)

3.620937352399238