In [1]:
import numpy as np
import pandas as pd

# Part 1

In [3]:
data_1 = pd.read_csv('lab6-1.csv', delimiter=';')
data_1

    N       R
0   1  151.30
1   2   88.81
2   3  106.00
3  12   96.15
4  23   92.14

In [6]:
data_1['R_cm'] = data_1['R'] / 98
data_1

    N       R      R_cm
0   1  151.30  1.543878
1   2   88.81  0.906224
2   3  106.00  1.081633
3  12   96.15  0.981122
4  23   92.14  0.940204

In [8]:
def get_gamma(a, b, c):
    return np.arccos((a ** 2 + b ** 2 - c ** 2) / (2 * a * b)) * 180 / np.pi

In [14]:
gamma_12 = get_gamma(data_1.iloc[0]['R_cm'], data_1.iloc[1]['R_cm'], data_1.iloc[3]['R_cm'])
gamma_12

36.74549588305459

In [15]:
gamma_23 = get_gamma(data_1.iloc[1]['R_cm'], data_1.iloc[2]['R_cm'], data_1.iloc[4]['R_cm'])
gamma_23

55.613291301133756

In [16]:
gamma_13 = get_gamma(data_1.iloc[0]['R_cm'], data_1.iloc[2]['R_cm'], data_1.iloc[3]['R_cm'] + data_1.iloc[4]['R_cm'])
gamma_13

92.36826150216773

# Part 2

In [17]:
data = pd.read_csv('lab6.csv', delimiter=';')
data

   N  R, px
0  1  271.9
1  2  317.8
2  3  447.7
3  4  527.5
4  5  551.5
5  6  625.0
6  7  692.5
7  8  706.0

In [18]:
data['R'] = data['R, px'] / 552 * 10
data

   N  R, px          R
0  1  271.9   4.925725
1  2  317.8   5.757246
2  3  447.7   8.110507
3  4  527.5   9.556159
4  5  551.5   9.990942
5  6  625.0  11.322464
6  7  692.5  12.545290
7  8  706.0  12.789855

In [19]:
# Nanometers

data['d'] = 1 / data['R']
data

   N  R, px          R         d
0  1  271.9   4.925725  0.203016
1  2  317.8   5.757246  0.173694
2  3  447.7   8.110507  0.123297
3  4  527.5   9.556159  0.104645
4  5  551.5   9.990942  0.100091
5  6  625.0  11.322464  0.088320
6  7  692.5  12.545290  0.079711
7  8  706.0  12.789855  0.078187

In [20]:
1 / (706 / 552 * 10)

0.07818696883852691

In [21]:
625 / 552 * 10

11.322463768115941