In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('lab1.csv', delimiter=';')
data

    I_rel      l
0     6.0   39.0
1    10.0   43.5
2     2.0   45.0
3     9.0   50.3
4     1.0   65.6
5     8.0   73.8
6     1.0   79.0
7     0.5   83.2
8     8.0   89.5
9     3.0   95.0
10    0.5  113.7
11    1.0  116.7
12    0.5  118.5
13    6.0  136.0
14    5.0  136.7
15    6.0  144.0
16    5.0  145.0

In [5]:
data['l'] / 2

0     19.50
1     21.75
2     22.50
3     25.15
4     32.80
5     36.90
6     39.50
7     41.60
8     44.75
9     47.50
10    56.85
11    58.35
12    59.25
13    68.00
14    68.35
15    72.00
16    72.50
Name: l, dtype: float64